fastapi==0.115.9
uvicorn==0.34.3
pydantic==2.10.6
python-dotenv==1.0.1

torch--index-url https://download.pytorch.org/whl/cpu
torch

langchain==0.3.27
langchain-core==0.3.75
chromadb>=0.5.0
langchain-chroma
langchain-huggingface==0.3.1
langchain-google-genai==2.0.10
google-genai
pymupdf==1.26.4
langchain-community

beautifulsoup4
requests
langchain-text-splitters

langgraph==0.4.8
langgraph-checkpoint==2.0.26
langgraph-prebuilt==0.2.2

sentence-transformers==3.4.1
transformers==4.49.0
google-generativeai==0.8.4